**/data
**/__pycache__
**/.vscode
**/build
**/*.log
**/*.out
**/.DS_Store
**/.env
**/.idea
**/.*~
**/bin
**/target
*.csv

**/vendor
**/go.mod
**/go.sum
**/.deps_vendored

**/.m2

**/test
**/log
**/res
README.v0.md
bb.out.**
c.txt
results/
**/zf
**/configs
!configs/
configs/*
!configs/momentum_filter_rounds_1_16/
configs/momentum_filter_rounds_1_16/*
!configs/momentum_filter_rounds_1_16/benchcpu-config-2026-08.json
